@page "/"
@namespace BlazorChat.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor Chat</title>
    <meta property="og:title" content="Blazor Chat">
    <meta property="og:description" content="A place to talk about Blazor, C# or whatever is on your mind.">
    <meta property="og:image" content="https://blazorchat.com/images/ogimage.png">
    <meta property="og:url" content="https://BlazorChat.com">
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/_content/DataJuggler.Blazor.Components/css/circle.css" rel="stylesheet" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>
</body>
</html>
